@import-normalize;

@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/acme-v21-latin-regular.eot');
  src: local(''),
    url('./fonts/acme-v21-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/acme-v21-latin-regular.woff2') format('woff2'),
    url('./fonts/acme-v21-latin-regular.woff') format('woff'),
    url('./fonts/acme-v21-latin-regular.ttf') format('truetype'),
    url('./fonts/acme-v21-latin-regular.svg#Acme') format('svg');
}

body {
  margin: 0;
  font-family: Acme, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;

  background: linear-gradient(
    130deg,
    #008080,
    #20b2aa,
    #00ffff,
    #48d1cc,
    #00ced1
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
